@model List<UAVBusiness.Models.AssignedCustomerModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="boxh1">
                    Customer List <a class="pull-right" href="@Url.Action("Add", "AdminPilot")">
                        <span class="add-job-cat"> + </span> Add Customer to Pilot
                    </a>
                </h1>
            </div>

            <div id="div_state_list">

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-12">

                            @if (Model != null && Model.Count > 0)
                            {
                                <table class="table table-bordered  marginTop20" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>Customer Name</th>
                                            <th>Pilot Name</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.CustomerName</td>
                                                <td>@item.PilotName</td>

                                               
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div>No record found</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#state").addClass("active");
        })
    </script>

    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    @*<script src="~/Scripts/Pages/State.js"></script>*@

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "aaSorting": [],
                "aoColumns": [null, null, null, null, null, { "bSortable": false, "bSearchable": false }]
            });
        });
    </script>
}
